.container {
  margin-top: 20px;
}

.likeBtn {
  cursor: pointer;
  height: auto;
  margin-top: 20px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: 1px solid rgb(232, 233, 235);
  padding: 8px 12px 8px 12px;
}

.button span:nth-child(1) {
  margin-right: 5px;
}

.button span:nth-child(2) {
  cursor: pointer;
}

.button span:nth-child(2):hover {
  text-decoration: underline;
}

.button span:nth-child(2):active {
  color: var(--gray5);
}

.clicked {
  border: 1px solid black;
  font-weight: 600;
}

.btnAnimation {
  display: inline-block;
  animation: jumpAndRotate 0.5s ease; /* 애니메이션 이름과 시간 설정 */
}

@keyframes jumpAndRotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  40% {
    transform: translateY(-10px) rotate(-180deg);
  }
  60% {
    transform: translateY(-10px) rotate(-360deg);
  }
  100% {
    transform: translateY(0px) rotate(-360deg);
  }
}
