.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
  margin: auto;
}

.number {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

.title,
.text {
  font-size: 0.8rem;
}

.inputWrap {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputWrap > input {
  margin-top: 0.5rem;
  width: 50%;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid var(--gray5);
}

.inputWrap > input:focus {
  outline: 1px solid var(--gray7);
}

.btn {
  margin: auto;
  margin-top: 1.5rem;
  border-radius: 20px;
  width: 50%;
  color: white;
  background-color: var(--main);
}

.btn:hover {
  background-color: var(--hoverMain);
}

.btn:active {
  background-color: var(--activeMain);
}
