.container {
  margin-top: 1.5rem;
  display: flex;
  position: relative;
  height: 10%;
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
}

.menu:not(.active) {
  border-bottom: 3px solid var(--gray5);
}

.menu.active {
  color: var(--main);
  border-bottom: 3px solid var(--main);
}

.indicator {
  position: absolute;
  bottom: 0;
  width: 33.33%;
  height: 3px;
  background-color: var(--main);
  transition: left 0.3s ease;
}
