.infoContainer {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--gray3);
}

.title {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.wrap {
  display: flex;
  margin-top: 1.5rem;
}

.wrap > p {
  display: flex;
  align-items: center;
  width: 60px;
}

.wrap input {
  border: 1px solid var(--gray5);
  border-radius: 10px;
  padding: 10px;
}

.wrap select {
  border: 1px solid var(--gray5);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  color: black;
}

.wrap select:focus {
  outline: none;
}

.nameInput > input {
  width: 100%;
}
.nameInput {
  flex-grow: 1;
}

.emailInput {
  flex-grow: 1;
}

.phoneNumberInput {
  flex-grow: 1;
}
.phoneNumberInput > input {
  /* max-width: 100px; */
  width: 100%;
}

.emailInput > input {
  width: 100%;
}

.peopleNumInput {
  flex-grow: 1;
}
.peopleNumInput > input {
  width: 25%;
}
