.imgContainer {
  background-image: url("/프로필사진.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
  width: 100%;
  height: 400px;
}
