.container {
  padding: 20px;
}

.container > p {
  font-size: 1.2rem;
  white-space: pre-wrap;
}

.imgWrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.imgWrap > div {
  display: flex;
  justify-content: center;
}

.imgWrap img {
  max-width: 600px;
}

.img {
  max-width: 600px; /* 이미지 최대 크기 제한 */
  width: 100%; /* 부모 요소의 너비에 맞게 조정 */
  margin: 0 auto; /* 가운데 정렬 */
}
