:root {
  --gray: #f0f0f0;
  --gray1: #f1f3f5;
  --gray2: #e9ecef;
  --gray3: #dee2e6;
  --gray4: #ced4da;
  --gray5: #adb5bd;
  --gray6: #868e96;
  --gray7: #495057;
  --gray8: #343a40;
  --background: #f7f0de;
  --main: #6c1015;
  --hoverMain: #7f0f17;
  --activeMain: #b10710;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

body {
  margin: 0px;
  /* padding: 0px 10px 10px 10px; */
  /* max-width: 600px;
  min-height: 100vh;
  margin: auto;
  background-color: var(--background); */
}

h1,
h2,
h3,
h4,
p {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

@media (max-width: 1400px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 13px;
  }
}
