.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.icon {
  font-size: 10rem;
  color: var(--main);
}

.container > a {
  margin-bottom: 0.5rem;
  text-decoration: underline;
  color: var(--gray5);
}
