.line {
  stroke: var(--main);
  stroke-width: 1;
  animation: drawLine 1.3s forwards;
}

.hideLine {
  stroke: var(--main);
  stroke-width: 1;
  animation: hideLine 1.3s forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes hideLine {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 556; /* 선이 사라지도록 dashoffset 설정 */
  }
}

.container {
  position: relative;
  margin-bottom: 100px;
}
.diagonalLine {
  position: absolute;
  left: 22%;
  top: 55%;
}

.diagonalLine circle {
  fill: var(--main);
}

.circle {
  opacity: 0; /* 처음에 투명 */
  transition: opacity 0.5s ease-in-out;
}

.circle.show {
  opacity: 1;
  animation: shrinkCircle 1s forwards ease-in-out;
}

@keyframes shrinkCircle {
  0% {
    r: 10; /* 초기 반지름 값 */
  }
  100% {
    r: 5; /* 최종 반지름 값 */
  }
}
