.confirm {
  max-width: 500px;
  min-width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 10px;
  margin: 0;
  text-align: center;
}

.confirm > p {
  margin-top: 0.7rem;
}

.title {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.subTitle {
  font-size: 0.9rem;
}

.btnWrap {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  border-radius: 30px;
  margin-top: 1rem;
  padding: 0.5rem 3rem;
  background-color: var(--main);
  color: white;
}

.btn:hover {
  background-color: var(--hoverMain);
}

.btn:active {
  background-color: var(--activeMain);
}
