/* 다음 단계 버튼 */
.nextBtn {
  padding: 1.8rem 1.8rem;
}

.nextBtn > button {
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 3rem;
}

/* 예약 가능 버튼 스타일 */
.possibleBtn {
  background-color: black;
  color: white;
}

/* 예약마감 버튼을 클릭안되게 */
.impossibleBtn {
  border-radius: 10px;
  background-color: #eeeeee;
  pointer-events: none !important;
}
