.container {
  padding: 1.3rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.title {
  font-size: 1.1rem;
  cursor: pointer;
}

.title:hover {
  text-decoration: underline;
}

.date {
  font-size: 0.8rem;
  display: flex;
  align-items: flex-end;
  color: var(--gray6);
}
